:root {
    --stand-alone-spatial-queries-dialog-width: 400px;
}

/* dialog */
.scroll-dialog-17 .p-dialog-content {
    min-width: var(--stand-alone-spatial-queries-dialog-width) !important;
}

.scroll-dialog-17 .p-dialog-header {
    min-width: var(--stand-alone-spatial-queries-dialog-width) !important;
}

.scroll-dialog-17 .p-dialog-footer {
    min-width: var(--stand-alone-spatial-queries-dialog-width) !important;
}

.scroll-dialog-17 {
    overflow-x: auto;
}