.Wrapper {
    height: 100%;
    background-color: var(--app-bg-color);    
    overflow: hidden;
    border: 1px solid var(--app-bg-color-alt);
}
.Header {
    font-size: 18px;
    font-weight: 400;    
    background-color: var(--app-bg-color-alt);
    padding: 15px 20px;
}
.ProcessList {
    overflow: auto;
    height: calc(100% - 310px);
    padding: 25px 20px;
    border-top: 1px solid var(--app-bg-color);
}