.dd-wrapper button {
  overflow: visible;
  width: inherit;
  margin: inherit;
  padding: inherit;
  border: none;
  background: inherit;
  font: inherit;
  line-height: normal;
  color: inherit;
  text-align: inherit;
  -webkit-appearance: none;
}

.dd-wrapper ul,
.dd-wrapper li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-wrapper * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline: none;
}

.dd-wrapper {
  position: relative;
  width: 100%;
  user-select: none;
  font-size: 14px;
}

.dd-label {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
}

.dd-wrapper .dd-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid var(--input-border-color);
  border-radius: var(--button-border-radius);
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dd-header.ShowError {
  border: 1px solid var(--app-validation-color);
}

.dd-wrapper .dd-header span {
  margin-right: 5px;
}

.readOnly {
  pointer-events: none;
  opacity: 0.6;
}

.dd-wrapper .dd-header-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 25px;
}

.dd-wrapper .dd-list {
  position: absolute;
  z-index: 10;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-top: none;
  border-radius: var(--button-border-radius);
  background-color: var(--popup-header-footer-bg-color);
  text-align: left;
  font-weight: 400;
  z-index: 1;
  max-height: 300px;
  overflow-y: auto;
  top: 66px;
}

.dd-wrapper .dd-list .dd-scroll-list {}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item.no-result {
  font-weight: normal;
  cursor: default;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item.no-result:hover {
  background-color: transparent;
  color: black;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item.selected {
  background-color: rgba(180, 180, 180, 0.15);
  color: white;
}

.dd-wrapper .dd-list .dd-scroll-list .dd-list-item:hover {
  background-color: rgba(180, 180, 180, 0.15);
  color: white;
}

.dd-wrapper .dd-list .dd-list-search-bar {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
}


.dd-wrapper .dd-list .dd-list-search-bar::placeholder {
  color: #c8c8c8;
}

.dd-wrapper .dd-list.searchable {
  overflow-y: hidden;
  padding: 0;
}

.dd-wrapper .dd-list.searchable .dd-scroll-list {
  max-height: calc(300px - 40px);
  overflow-y: auto;
}

.DropDownArrow {
  width: 14px;
  height: 9px;
  -webkit-mask-image: url(../../../assets/images/arrow.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--app-font-color);
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  right: 5px;
}

.DropDownRemove {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url(../../../assets/images/close1.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--button-clear-color);
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  right: 25px;
}



.CheckedIcon {
  width: 14px;
  height: 14px;
  -webkit-mask-image: url(../../../assets/images/checked.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--app-font-color);
  display: inline-block;
  margin-left: 10px
}

.dd-btn-wrapper {
  height: 50px;
  width: 100%;
}

.ValidationMessage {
  visibility: visible;
  color: var(--app-validation-color);
  font-size: 12px;
  padding-left: 2px;
  margin-top: 3px;
  outline: none;
  position: absolute;
}

.ValidationMessage.ShowError {
  visibility: visible;
}

.ValidationImg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  right: -28px;
  visibility: hidden;
  outline: none;
}

.ValidationImg.ShowError {
  visibility: visible;
}

.dd-wrapper .Mandatory {
  position: relative;
}

.dd-wrapper .Mandatory::after {
  content: '*';
  color: var(--app-validation-color);
  margin-left: 3px;
}

.InfoImage {
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  height: 14px;
  width: 14px;
  background-size: cover;
  background-image: url('../../../assets/images/info.svg');
  position: relative;
}